
html{
    font-size: 10px;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.full-width{
    width: 100%;
}

.fix-width{
    max-width: 1200px;
    margin: 0 auto;
}








/*work starts*/
.work{
    width: 100%;
}

.work h1{
    text-align: center;
    font-size: 5em;
    margin: 0;
}

.work-link{
    width: 50%;
    float: left;
}

.work-link a{
    margin-left: 6em;
}





/*Skills starts*/

.skill{
    width: 100%;
    background-color: #fceec5;
    padding: 4em 0;
}

.skill-header h1{
    text-align: center;
    font-size: 5em;
    margin: 0;
}

.my-hr{
    width: 10%;
    background-color: goldenrod;
}

.skilltype h1{
    font-size: 4em;
}

.skilltype h2{
    font-size: 2em;
}

.skilltype progress{
    width: 100%;
    height: 2em;
}


/*form fill section*/

.section-4{
    text-align: center;
    padding: 30px;
    color: white;
    background-image: url(../img/pic.jpg);
}

.section-4 h1{
    color: #fff;
}

.section-4 input{
    background-color:transparent;
    width: 30%;
    height: 20px;
    border-style: none;
}

.section-4 textarea{
    background-color: transparent;
    margin: 30px;
   
}

.section-4 hr{
    width: 30%;
}

.section-4 button{
    text-align: left;
    background-color: #fff;
    color: #1E1E1E;
}



/*footer starts*/

.footer{
    padding: 5em 0;
    background-color: black;
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: goldenrod;
    font-size: 3em;
    margin-left: 1em;
    transition: 0.5s ease-in-out;
}

.footer a:hover{
    color: white;
}

.footer-copyright{
    margin-top: 1em;
} 

.footer-copyright p{
    color: teal;
    font-size: 2em;
    font-weight: bolder;
}