
html{
    font-size: 15px;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.full-width{
    width: 100%;
}

.fix-width{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/*Nav start*/
nav{
    background-color:#fffaeb ;
    position: fixed;
    padding: 1rem 0;
    z-index: 999;
}

nav .nav-center{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav .nav-center .logo{
    display: flex;
    justify-content: space-between;
}

nav .nav-center .logo h1{
    font-size: 2.5rem;
    font-weight: bolder;
    letter-spacing: .1rem;
}

nav .nav-center .nav-link ul{
    display: flex;
}

nav .nav-center .nav-link ul li{
    list-style: none;
    margin-left: 2rem;
}

nav .nav-center .nav-link ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    color: black;
    transition: 0.4s ease-in-out;
}

nav .nav-center .nav-link ul li a:hover{
    color: lightsalmon;
    transition: 0.4s ease-in-out;
}

.intro{
    background-color: #fffaeb;
    padding: 5rem 0;
}

.intro .flex{
    display: flex;
    justify-content: space-between;
}

.intro .flex .intro-left{
    width: 48%;
    padding: 7rem;
}

.intro .flex .intro-left h1{
    font-size: 4rem;
    color: #102a42;
    word-spacing: .3rem;
    font-weight: bolder;
}

.intro .flex .intro-left p{
    color:#617d98 ;
    font-size: 1.3rem;
    letter-spacing: .2rem;
    font-weight: 700;
    margin-top: .7rem 0;
}

.intro-left span{
    font-size: 2.5rem;
    margin: 1rem 0 0 1rem;
}

.intro .intro-right{
    width: 48%;
    padding-top: 2rem;
    position: relative;
    z-index: 1;
}

.intro .intro-right::before{
    content: "";
    position: absolute;
    top: 4.5rem;
    left: 3rem;
    width: 70%;
    height: 90%;
    border: 0.3rem solid #e9b949;
    z-index: -1;
    border-radius: 0.8rem;
}

.intro .intro-right img{
    width: 70%;
    border-radius: 1rem;
}